body {
  display: flex;
  justify-content: center;
  background-color: #222831;
  height: 90vh;
}
.cell {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}
#divBoard {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.score {
  display: grid;
  place-content: center;
  background-color: white;
  height: 100px;
  width: 200px;
  font-size: 64px;
  margin-top: 250px;
  margin-left: 20px;
  border-radius: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}
#StartBton,
#StopBton,
#RefreshBton,
#PauseBton {
  font-size: 28px;
  width: auto;
  height: 50px;
  border-radius: 12px;
}
#StartBton:hover,
#StopBton:hover,
#RefreshBton:hover,
#PauseBton:hover {
  height: 55px;
}

.bodyy {
  margin: 20px;
  display: flex;
}
.active {
  background-color: yellow;
}
